# What drives the price of a car?

![](images/kurt.jpeg)

**OVERVIEW**

In this application, you will explore a dataset from kaggle. The original dataset contained information on 3 million used cars. The provided dataset contains information on 426K cars to ensure speed of processing.  Your goal is to understand what factors make a car more or less expensive.  As a result of your analysis, you should provide clear recommendations to your client -- a used car dealership -- as to what consumers value in a used car.

### CRISP-DM Framework

<center>
    <img src = images/crisp.png width = 50%/>
</center>


To frame the task, throughout our practical applications we will refer back to a standard process in industry for data projects called CRISP-DM.  This process provides a framework for working through a data problem.  Your first step in this application will be to read through a brief overview of CRISP-DM [here](https://mo-pcco.s3.us-east-1.amazonaws.com/BH-PCMLAI/module_11/readings_starter.zip).  After reading the overview, answer the questions below.

### Business Understanding

From a business perspective, we are tasked with identifying key drivers for used car prices.  In the CRISP-DM overview, we are asked to convert this business framing to a data problem definition.  Using a few sentences, reframe the task as a data task with the appropriate technical vocabulary.

Using historical used car sales, determine what factors make a car more or less expensive. As a used car dealership, we want to identify used car 'characteristics' (factors) that can increase revenue. The dealership wants to understand its present inventory to appeal to more customers as well as to determine what cars to have available for its customers to increase sales.

### Data Understanding

After considering the business understanding, we want to get familiar with our data.  Write down some steps that you would take to get to know the dataset and identify any quality issues within.  Take time to get to know the dataset and explore what information it contains and how this could be used to inform your business understanding.

The problem statement 'identifying key drivers for used car prices' (or 'what consumers value in a used car'), requires historical data from past used car sales that can be used to extrapolate these features. An adequate amount of data is required (eg. data from 100 used car sales would be insufficient) as well as data from the sale of new cars.

Furthermore, the data set needs to contain robust information about used cars that were sold to better determine the reason they appealed to a customer. Some of these might include: make, model, year, safety rating, number of miles on the odometer, engine (v6, v8), fuel type (gasoline, diesel, electric, hybrid), 'creature comforts' (AC, heated/cooled seats), number of doors, airbags (front, back, side), color. Since the client is 'a used car dealership', we can assume that its geographi context is also important; the data set would require, at minimum, city and state.

The data set provided (vehicles.csv) contains 426,880 entries. At first inspection we can see:
1. 'model' information is textual (eg. 'sierra 1500 crew cab slt' & 'silverado 1500') & it would be challenging 'normalizing' these
2. the 'transmission' column contains 'other' which has no meaning
3. there is quite a bit of missing data

In [27]:
import statsmodels.api as sm
from statsmodels.tsa.arima.model import ARIMA
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.statespace.sarimax import SARIMAX
from statsmodels.tsa.stattools import acf, pacf
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from warnings import filterwarnings 
filterwarnings('ignore')
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from scipy.linalg import svd

In [57]:
df = pd.read_csv('data/vehicles.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426880 non-null  int64
 1   region        426880 non-null  object
 2   price         426880 non-null  int64
 3   year          425675 non-null  float64
 4   manufacturer  409234 non-null  object
 5   model         421603 non-null  object
 6   condition     252776 non-null  object
 7   cylinders     249202 non-null  object
 8   fuel          423867 non-null  object
 9   odometer      422480 non-null  float64
 10  title_status  418638 non-null  object
 11  transmission  424324 non-null  object
 12  VIN           265838 non-null  object
 13  drive         296313 non-null  object
 14  size          120519 non-null  object
 15  type          334022 non-null  object
 16  paint_color   296677 non-null  object
 17  state         426880 non-null  object
dtypes: float64(2), int64(2), object(14)
memory usage: 58.6+ MB

In [32]:
df.isna().sum().sort_values(ascending=True)

id                   0
price                0
state                0
region               0
year              1205
transmission      2556
fuel              3013
odometer          4400
model             5277
title_status      8242
manufacturer     17646
type             92858
paint_color     130203
drive           130567
VIN             161042
condition       174104
cylinders       177678
size            306361
dtype: int64

Since we only have a limited amount of columns, the feature shown above that has the lowest amount of data is 'size'. Were we to remove all null entries, this would reduce our data set to 120,519 entries. Even though, I believe, this is an important feature, ignorign/removing it would allow us to retain a larger data set.

### Data Preparation

After our initial exploration and fine tuning of the business understanding, it is time to construct our final dataset prior to modeling.  Here, we want to make sure to handle any integrity issues and cleaning, the engineering of new features, any transformations that we believe should happen (scaling, logarithms, normalization, etc.), and general preparation for modeling with `sklearn`.

In [58]:
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34868 entries, 126 to 426836
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            34868 non-null  int64
 1   region        34868 non-null  object
 2   price         34868 non-null  int64
 3   year          34868 non-null  float64
 4   manufacturer  34868 non-null  object
 5   model         34868 non-null  object
 6   condition     34868 non-null  object
 7   cylinders     34868 non-null  object
 8   fuel          34868 non-null  object
 9   odometer      34868 non-null  float64
 10  title_status  34868 non-null  object
 11  transmission  34868 non-null  object
 12  VIN           34868 non-null  object
 13  drive         34868 non-null  object
 14  size          34868 non-null  object
 15  type          34868 non-null  object
 16  paint_color   34868 non-null  object
 17  state         34868 non-null  object
dtypes: float64(2), int64(2), object(14)
memory usage: 5.1+ MB

In [53]:
df.shape

(34868, 18)

In [54]:
df.head()

,id,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,VIN,drive,size,type,paint_color,state
126,7305672709,auburn,0,2018.0,chevrolet,express cargo van,like new,6 cylinders,gas,68472.0,clean,automatic,1GCWGAFP8J1309579,rwd,full-size,van,white,al
127,7305672266,auburn,0,2019.0,chevrolet,express cargo van,like new,6 cylinders,gas,69125.0,clean,automatic,1GCWGAFP4K1214373,rwd,full-size,van,white,al
128,7305672252,auburn,0,2018.0,chevrolet,express cargo van,like new,6 cylinders,gas,66555.0,clean,automatic,1GCWGAFPXJ1337903,rwd,full-size,van,white,al
215,7316482063,birmingham,4000,2002.0,toyota,echo,excellent,4 cylinders,gas,155000.0,clean,automatic,JTDBT123520243495,fwd,compact,sedan,blue,al
219,7316429417,birmingham,2500,1995.0,bmw,525i,fair,6 cylinders,gas,110661.0,clean,automatic,WBAHD6322SGK86772,rwd,mid-size,sedan,white,al

In [79]:
# remove rows where
# price = 0
# df.drop(df.loc[df['price']==0].index, inplace=True)
# # fuel is 'other'
# df.drop(df.loc[df['fuel']=='other'].index, inplace=True)
# # transmission is 'other'
# df.drop(df.loc[df['transmission']=='other'].index, inplace=True)
# # type is 'other'

# # remove ' cylinders' from cylinders column
# df['cylinders'] = df['cylinders'].str.replace(' cylinders','')

# drop columns: id, model, VIN
# df2 = df.drop(columns=['id','model','VIN'])
df2.shape

(31677, 15)

Convert categorical variables into dummy variables

In [ ]:
df = pd.get_dummies(df, prefix=['manufacturer','model','condition','fuel','title_status']).astype(int)
df['odometer'] = df['odometer'].astype('int')
df['year'] = df['year'].astype('int')

As mentioned above, the column 'size' contains the most null data. The column 'vin' does not add value to our dataset. The same is true for the 'id' column. 
Encoding will have to be performed on most of the columns since they are textual.
Also, adding in 'region' and 'state' will generate 12080 (vs 5225) columns, and since the question asked is what car features impact sale price, and not 'and what region', this is a reasonable implication. In short, columns that contain significant NaN data and those that contain predominantly 'other' are dropped to reduce the number of columns.

In [17]:
df.dtypes

price                      int64
year                       int64
odometer                   int64
manufacturer_acura         int64
manufacturer_alfa-romeo    int64
                           ...
title_status_lien          int64
title_status_missing       int64
title_status_parts only    int64
title_status_rebuilt       int64
title_status_salvage       int64
Length: 5200, dtype: object

In [18]:
df.describe()

,price,year,odometer,manufacturer_acura,manufacturer_alfa-romeo,manufacturer_aston-martin,manufacturer_audi,manufacturer_bmw,manufacturer_buick,manufacturer_cadillac,...,fuel_electric,fuel_gas,fuel_hybrid,fuel_other,title_status_clean,title_status_lien,title_status_missing,title_status_parts only,title_status_rebuilt,title_status_salvage
count,34868.000000,34868.000000,3.486800e+04,34868.000000,34868.000000,34868.000000,34868.000000,34868.000000,34868.000000,34868.000000,...,34868.000000,34868.000000,34868.000000,34868.000000,34868.000000,34868.000000,34868.000000,34868.000000,34868.000000,34868.000000
mean,15837.446771,2011.176867,1.073991e+05,0.007371,0.000430,0.000086,0.012906,0.026643,0.011128,0.014885,...,0.002266,0.898044,0.012189,0.000918,0.966158,0.003843,0.000402,0.000057,0.022657,0.006883
std,13460.056823,7.162332,9.990878e+04,0.085537,0.020737,0.009275,0.112870,0.161041,0.104901,0.121093,...,0.047546,0.302595,0.109730,0.030281,0.180825,0.061874,0.020034,0.007573,0.148809,0.082680
min,0.000000,1905.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6500.000000,2008.000000,6.516400e+04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,12000.000000,2013.000000,1.040000e+05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,22003.500000,2016.000000,1.411678e+05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,155000.000000,2022.000000,9.999999e+06,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [30]:
ss = StandardScaler() # regularization scores will be applied more equitably
df_rescaled = pd.DataFrame(ss.fit_transform(df), columns=ss.get_feature_names_out())
df_rescaled

,price,year,odometer,manufacturer_acura,manufacturer_alfa-romeo,manufacturer_aston-martin,manufacturer_audi,manufacturer_bmw,manufacturer_buick,manufacturer_cadillac,...,fuel_electric,fuel_gas,fuel_hybrid,fuel_other,title_status_clean,title_status_lien,title_status_missing,title_status_parts only,title_status_rebuilt,title_status_salvage
0,-1.176642,0.952655,-0.389632,-0.086171,-0.020746,-0.009276,-0.114344,-0.165447,-0.10608,-0.122921,...,-0.047653,0.336944,-0.111082,-0.030308,0.187156,-0.062112,-0.020042,-0.007574,-0.152257,-0.083251
1,-1.176642,1.092276,-0.383096,-0.086171,-0.020746,-0.009276,-0.114344,-0.165447,-0.10608,-0.122921,...,-0.047653,0.336944,-0.111082,-0.030308,0.187156,-0.062112,-0.020042,-0.007574,-0.152257,-0.083251
2,-1.176642,0.952655,-0.408820,-0.086171,-0.020746,-0.009276,-0.114344,-0.165447,-0.10608,-0.122921,...,-0.047653,0.336944,-0.111082,-0.030308,0.187156,-0.062112,-0.020042,-0.007574,-0.152257,-0.083251
3,-0.879463,-1.281286,0.476451,-0.086171,-0.020746,-0.009276,-0.114344,-0.165447,-0.10608,-0.122921,...,-0.047653,0.336944,-0.111082,-0.030308,0.187156,-0.062112,-0.020042,-0.007574,-0.152257,-0.083251
4,-0.990905,-2.258636,0.032649,-0.086171,-0.020746,-0.009276,-0.114344,6.044239,-0.10608,-0.122921,...,-0.047653,0.336944,-0.111082,-0.030308,0.187156,-0.062112,-0.020042,-0.007574,-0.152257,-0.083251
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34863,-0.211179,0.673412,-0.463150,-0.086171,-0.020746,-0.009276,-0.114344,-0.165447,-0.10608,-0.122921,...,-0.047653,0.336944,-0.111082,-0.030308,0.187156,-0.062112,-0.020042,-0.007574,-0.152257,-0.083251
34864,1.275017,0.394170,0.472867,-0.086171,-0.020746,-0.009276,-0.114344,-0.165447,-0.10608,-0.122921,...,-0.047653,-2.967854,-0.111082,-0.030308,0.187156,-0.062112,-0.020042,-0.007574,-0.152257,-0.083251
34865,0.012003,0.952655,-0.709999,-0.086171,-0.020746,-0.009276,-0.114344,-0.165447,-0.10608,-0.122921,...,-0.047653,0.336944,-0.111082,-0.030308,0.187156,-0.062112,-0.020042,-0.007574,-0.152257,-0.083251
34866,-0.671437,-1.979393,-0.378842,-0.086171,-0.020746,-0.009276,-0.114344,-0.165447,-0.10608,-0.122921,...,-0.047653,0.336944,-0.111082,-0.030308,0.187156,-0.062112,-0.020042,-0.007574,-0.152257,-0.083251
34867,-1.176642,0.952655,-0.869877,-0.086171,-0.020746,-0.009276,-0.114344,-0.165447,-0.10608,-0.122921,...,-0.047653,-2.967854,-0.111082,-0.030308,0.187156,-0.062112,-0.020042,-0.007574,-0.152257,-0.083251

In [19]:
# Normalize data
mu = df.mean()
sigma = df.std()

df_norm = (df-mu)/sigma
df_norm

,price,year,odometer,manufacturer_acura,manufacturer_alfa-romeo,manufacturer_aston-martin,manufacturer_audi,manufacturer_bmw,manufacturer_buick,manufacturer_cadillac,...,fuel_electric,fuel_gas,fuel_hybrid,fuel_other,title_status_clean,title_status_lien,title_status_missing,title_status_parts only,title_status_rebuilt,title_status_salvage
126,-1.176626,0.952641,-0.389626,-0.086169,-0.020745,-0.009276,-0.114342,-0.165444,-0.106078,-0.122919,...,-0.047653,0.336939,-0.11108,-0.030308,0.187153,-0.062111,-0.020042,-0.007574,-0.152255,-0.08325
127,-1.176626,1.092261,-0.383090,-0.086169,-0.020745,-0.009276,-0.114342,-0.165444,-0.106078,-0.122919,...,-0.047653,0.336939,-0.11108,-0.030308,0.187153,-0.062111,-0.020042,-0.007574,-0.152255,-0.08325
128,-1.176626,0.952641,-0.408814,-0.086169,-0.020745,-0.009276,-0.114342,-0.165444,-0.106078,-0.122919,...,-0.047653,0.336939,-0.11108,-0.030308,0.187153,-0.062111,-0.020042,-0.007574,-0.152255,-0.08325
215,-0.879450,-1.281268,0.476444,-0.086169,-0.020745,-0.009276,-0.114342,-0.165444,-0.106078,-0.122919,...,-0.047653,0.336939,-0.11108,-0.030308,0.187153,-0.062111,-0.020042,-0.007574,-0.152255,-0.08325
219,-0.990891,-2.258603,0.032649,-0.086169,-0.020745,-0.009276,-0.114342,6.044153,-0.106078,-0.122919,...,-0.047653,0.336939,-0.11108,-0.030308,0.187153,-0.062111,-0.020042,-0.007574,-0.152255,-0.08325
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426788,-0.211176,0.673403,-0.463143,-0.086169,-0.020745,-0.009276,-0.114342,-0.165444,-0.106078,-0.122919,...,-0.047653,0.336939,-0.11108,-0.030308,0.187153,-0.062111,-0.020042,-0.007574,-0.152255,-0.08325
426792,1.274999,0.394164,0.472860,-0.086169,-0.020745,-0.009276,-0.114342,-0.165444,-0.106078,-0.122919,...,-0.047653,-2.967811,-0.11108,-0.030308,0.187153,-0.062111,-0.020042,-0.007574,-0.152255,-0.08325
426793,0.012002,0.952641,-0.709989,-0.086169,-0.020745,-0.009276,-0.114342,-0.165444,-0.106078,-0.122919,...,-0.047653,0.336939,-0.11108,-0.030308,0.187153,-0.062111,-0.020042,-0.007574,-0.152255,-0.08325
426833,-0.671427,-1.979365,-0.378836,-0.086169,-0.020745,-0.009276,-0.114342,-0.165444,-0.106078,-0.122919,...,-0.047653,0.336939,-0.11108,-0.030308,0.187153,-0.062111,-0.020042,-0.007574,-0.152255,-0.08325
426836,-1.176626,0.952641,-0.869864,-0.086169,-0.020745,-0.009276,-0.114342,-0.165444,-0.106078,-0.122919,...,-0.047653,-2.967811,-0.11108,-0.030308,0.187153,-0.062111,-0.020042,-0.007574,-0.152255,-0.08325

In [22]:
# perform SVD on normalized data

U, s, Vt = svd(df_norm, full_matrices=False)

Sigma = np.diag(s)
V = Vt.T

In [24]:
# verify that every entry in df_norm is close to the product of the matrices

np.allclose(df_norm, U @ Sigma @ V.T )

True

In [ ]:
# The importance of principal components

In [25]:
r = 4
Ur = U[:,:r]
Sigmar = Sigma[:r,:r]
Xrr = pd.DataFrame(Ur @ Sigmar)
Xrr

              0         1         2         3
0      0.259105  0.279504 -0.921861  1.158898
1      0.247062  0.252207 -0.888746  1.142999
2      0.258693  0.276753 -0.919431  1.158157
3      1.506000  0.439709  0.766447 -0.296714
4      1.882864  1.127807 -1.571845  1.070129
...         ...       ...       ...       ...
34863  0.380104 -0.299036 -0.245546  0.796387
34864 -5.387637  0.369836  0.902033 -1.152830
34865  0.550263 -0.287631  1.029626 -0.250558
34866  1.339457  0.876828 -2.249269  0.913276
34867 -4.515258 -0.657538  0.921419 -1.483958

[34868 rows x 4 columns]

### Modeling

With your (almost?) final dataset in hand, it is now time to build some models.  Here, you should build a number of different regression models with the price as the target.  In building your models, you should explore different parameters and be sure to cross-validate your findings.

### Evaluation

With some modeling accomplished, we aim to reflect on what we identify as a high quality model and what we are able to learn from this.  We should review our business objective and explore how well we can provide meaningful insight on drivers of used car prices.  Your goal now is to distill your findings and determine whether the earlier phases need revisitation and adjustment or if you have information of value to bring back to your client.

### Deployment

Now that we've settled on our models and findings, it is time to deliver the information to the client.  You should organize your work as a basic report that details your primary findings.  Keep in mind that your audience is a group of used car dealers interested in fine tuning their inventory.